@model ShoppingSite.ViewModels.UsersViewModel

@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateUser</h2>

@using (Html.BeginForm("Save", "User"))
{
    @Html.ValidationSummary(true, "Please fix the following problems.")
    <div class="form-group">
        @Html.LabelFor(w => w.User.FirstName)
        @Html.TextBoxFor(w => w.User.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.User.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(w => w.User.LastName)
        @Html.TextBoxFor(w => w.User.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.User.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(w => w.User.BirthDate)
        @Html.TextBoxFor(w => w.User.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.User.BirthDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(w => w.User.Email)
        @Html.TextBoxFor(w => w.User.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.User.Email)
    </div>

    @Html.HiddenFor(w => w.User.Id)

    <button type="submit" class="btn btn-primary">Create user</button>
}

@section scripts{
    @Scripts.Render("~/bundles/modernizr")
}