@model ShoppingSite.ViewModels.ProductsViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center-text">Edit @Model.Name</h2>

@using (Html.BeginForm("Save", "Home"))
{
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-6">
            @Html.ValidationSummary(true, "Please fix the following problems.")
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">
            @Html.LabelFor(w => w.Name)
        </div>
        <div class="form-group col-sm-5">
            @Html.TextBoxFor(w => w.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(w => w.Name)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">
            @Html.LabelFor(w => w.Description)
        </div>
        <div class="form-group col-sm-5">
            @Html.TextAreaFor(w => w.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(w => w.Description)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">
            @Html.LabelFor(w => w.Brand)
        </div>
        <div class="form-group col-sm-5">
            @Html.TextBoxFor(w => w.Brand, new { @class = "form-control" })
            @Html.ValidationMessageFor(w => w.Brand)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">
            @Html.LabelFor(w => w.Price)
        </div>
        <div class="form-group col-sm-5">
            @Html.TextBoxFor(w => w.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(w => w.Price)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">
            @Html.LabelFor(w => w.StrapQuality)
        </div>
        <div class="form-group col-sm-5">
            @Html.TextBoxFor(w => w.StrapQuality, new { @class = "form-control" })
            @Html.ValidationMessageFor(w => w.StrapQuality)
        </div>
    </div>


    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">
            @Html.LabelFor(w => w.NumberAvailable)
        </div>
        <div class="form-group col-sm-5">
            @Html.TextBoxFor(w => w.NumberAvailable, new { @class = "form-control" })
            @Html.ValidationMessageFor(w => w.NumberAvailable)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">
            @Html.LabelFor(w => w.CategoryTypeId)
        </div>
        <div class="form-group col-sm-5">
            @Html.DropDownListFor(w => w.CategoryTypeId, new SelectList(Model.CategoryTypes, "Id", "Name"), "Select Category", new { @class = "form-control" })
            @Html.ValidationMessageFor(w => w.CategoryTypeId)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">
            @Html.LabelFor(w => w.DisplayType)
        </div>
        <div class="form-group col-sm-5">
            @Html.TextBoxFor(w => w.DisplayType, new { @class = "form-control" })
            @Html.ValidationMessageFor(w => w.DisplayType)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">
            @Html.LabelFor(w => w.Image)
        </div>
        <div class="form-group col-sm-5">
            @Html.TextBoxFor(w => w.Image, new { type = "file" })
            @Html.ValidationMessageFor(w => w.Image)
        </div>
    </div>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(w => w.Id)

    <button type="submit" class="btn btn-primary">Save Changes</button>
}

@section scripts{
    @Scripts.Render("~/bundles/modernizr")
}